@use './variable' as *;
@use '/node_modules/mdb-vue-ui-kit/css/mdb.min.css';
:root {
  --mdb-link-color: #{$primary};
}

.btn-primary {
  --mdb-primary: #{$primary};
  --mdb-btn-bg: #{$primary};
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #{$primary};
  --mdb-btn-hover-bg: #{$primary};
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #{$primary};
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #{$primary};
  --mdb-btn-active-color: #fff;
  --mdb-btn-box-shadow-state:
    0 8px 9px -4px rgba(#{$primary}, 0.3), 0 4px 18px 0 rgba(#{$primary}, 0.2);
}

.form-check-input[type='checkbox'] {
  border-color: $primary;
  &:checked {
    background-color: $primary;
  }
}

.form-outline .form-control ~ .form-label {
  color: rgba(white, 0.6);
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
